<template>
    <div id="wrap">
        <div class="container">
            <nav-bar></nav-bar>

            <main role="main" class="">
                <router-view />
            </main>
        </div>

        <footer class="footer">
            <strong>Duobiblo Backend</strong> by <a href="https://softwarerero.com">El Softwarerero</a>. The source code is licensed under
            <a href="https://opensource.org/licenses/GPL-3.0">GPL</a>. The website content
            is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </footer>
    </div>
</template>

<script>
import NavBar from './components/NavBar.vue'

</script>

<style scoped>
.footer {
    font-size: small;
    text-align: center;
    padding: 5px;
    padding-top: 30px;
    background: transparent;
}
.container {
    width: 100%;
}
main {
    padding: 15px;
}
</style>

<style>
body {
    margin: 0;
}
#wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
}
a, button {
   outline: 0;
}
/* :root {
    --prirmay: #626E60;
} */
</style>

<style lang="scss">
// Import Bulma's core
@import "/node_modules/bulma/sass/utilities/_all";

$primary: #626E60;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "/node_modules/bulma/bulma.sass";
@import "/node_modules/buefy/src/scss/buefy";
</style>