<head>
    <title>Nehemia for Duobiblo</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <!-- <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"> -->
	<link rel='icon' type='image/png' href='/img/favicon.ico'>

</head>
<body>
    <div id="app"></div>
</body>
  