<template>
<div class="">
    <form @submit="save">
        <b-field label="Name" horizontal>
            <b-input v-model="doc.name" required minlength="5"></b-input>
        </b-field>
        <b-field label="Url" horizontal>
            <b-input v-model="doc.url"></b-input>
        </b-field>
        <b-field label="Copyright" horizontal>
            <b-input v-model="doc.copyright" type="textarea" rows="9"></b-input>
        </b-field>
        <b-field v-if="user()" label="Comment" horizontal>
            <b-input v-model="doc.comment" type="textarea" rows="9"></b-input>
        </b-field>
        <b-field grouped position="is-right">
            <p class="control">
                <button type="submit" class="button is-primary">Save</button>
                <button @click="back" class="button">Back</button>
            </p>
        </b-field>
    </form>
</div>
</template>

<script>
import { save } from '../components/CrudHelpers.js'

export default {
    data() {
        return {
            isNew: false,
            doc: {},
            original: {},
            plural: 'bibleSocieties',
        }
    },
    methods: {
        back(event) {
            this.$router.push(`/${this.plural}`)
        },
        save(event) {
            save(event, this, `${this.plural}.save`)
        },
    },
    created() {
        this.isNew = this.$route.params.id === 'new'
        if (!this.isNew) {
            Meteor.subscribe('bibleSociety', this.$route.params.id, () => {
                this.doc = BibleSocieties.findOne(this.$route.params.id) || {}
                this.original = Object.assign({}, this.doc)
            })
        }
    },
}
</script>
