<template>
    <div>
        <div v-if="!$subReady.bibleSocieties">
            Loading...
        </div>
        <div v-else>
            <section class="filters">
                <b-field horizontal>
                    <b-field label="Filter" horizontal>
                        <b-input v-model="fulltext"></b-input>
                    </b-field>
                    <button @click="clearFiltes" class="button">Clear filters</button>
                    <button @click="create" class="button is-primary">Create</button>
                </b-field>
            </section>

            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="society in societies" :data-id="society._id">
                    <td>{{society.name}}</td>
                    <td><a :href="society.url">{{society.url}}</a></td>
                    <td class="actions">
                        <span title="Edit" class="button" @click="edit">👀</span>
                        <span title="Remove" class="button" @click="remove">🗑</span>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            plural: 'bibleSocieties',
            fulltext: '',
        }
    },
    methods: {
        edit(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            this.$router.push(`/${this.plural}/${id}`)
        },
        create() {
            this.$router.push(`/${this.plural}/new`)
        },
        remove(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            this.$buefy.dialog.confirm({
                title: `Delete ${id}`,
                message: 'Are you sure you want to <b>delete</b> this bible society? This action cannot be undone.',
                confirmText: 'Delete bible society',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    Meteor.call(`${this.plural}.remove`, id, (error) => {
                        if (error) {
                            this.$buefy.notification.open(error)
                        } else {
                            this.$buefy.toast.open('Bible society deleted!')
                        }                 
                    })
                }
            })
        },
        clearFiltes() {
            this.fulltext = ''
        },
    },
    meteor: {
        $subscribe: { 'bibleSocieties': [] },
    },
    computed: {
        societies() {
            return this.$autorun(() => { 
                const filter = {}
                if (this.fulltext) {
                    const regex = { $regex: this.fulltext, $options: 'i' }
                    filter.$or = [
                        { name: regex },
                    ]
                }
                return BibleSocieties.find(filter, { sort: { name: 1 } })
            })
        },
    },
}
</script>

<style scoped>
table {
    width: 100%;
}
.actions {
    text-align: right;
}
</style>