<template>
<section>
    <b-tabs v-model="activeTab">
        <b-tab-item label="Basic data">
        <form @submit="save">
            <b-field label="Code" horizontal>
                <b-input v-model="doc.code" :disabled="!isNew" required minlength="2"></b-input>
            </b-field>
            <b-field label="Label" horizontal>
                <b-input v-model="doc.label" required></b-input>
            </b-field>
            <b-field label="Language" horizontal>
                <b-field label="Code" horizontal>
                <b-input v-model="doc.lang" required minlength="2"></b-input>
                </b-field>
                <b-field label="Name" horizontal>
                    <b-input v-model="doc.languageOrigName" required></b-input>
                </b-field>
            </b-field>
            <b-field label="URL" horizontal>
                <b-input v-model="doc.url"></b-input>
            </b-field>
            <b-field label="Bible Society" horizontal>
                <b-select placeholder="Select a bible society" v-model="doc.bibleSocietyId">
                    <option
                        v-for="option in bibleSocieties"
                        :value="option._id"
                        :key="option._id">
                        {{ option.name }}
                    </option>
                </b-select>
            </b-field>
            <!-- <b-field label="Size" horizontal>
                <b-input v-model="doc.size"></b-input>
                <button @click="calculateSize" class="button" type="button">Calculate</button>
            </b-field> -->
            <b-field horizontal>
                <b-switch v-model="doc.isPrimaryLanguageChoice" @input="changePrimaryLanguageChoice">Is primary language choice</b-switch>
                <b-switch v-model="doc.isDenied">Is denied</b-switch>
                <b-switch v-model="doc.isFree">Is free</b-switch>
            </b-field>

            <b-field horizontal>
                <p class="control">
                    <button type="submit" class="button is-primary">Save</button>
                    <button @click="back" class="button">Back</button>
                </p>
            </b-field>
        </form>
        </b-tab-item>
        <b-tab-item label="Parser" v-if="user()">
            <b-field label="Size" horizontal>
                <b-input v-model="doc.size"></b-input>
                <button @click="calculateSize" class="button" type="button">Calculate</button>
            </b-field>

            <b-field grouped position="is-right">
                <p class="control">
                    <!-- <button type="submit" class="button is-primary">Save</button>
                    <button @click="back" class="button">Back</button> -->
                </p>
            </b-field>
        </b-tab-item>
    </b-tabs>
</section>
</template>

<script>
import { save } from '../components/CrudHelpers.js'

export default {
    data() {
        return {
            plural: 'bibleInfos',
            activeTab: 0,
            isNew: false,
            doc: {},
            original: {},
            validation: {
                code: {
                    type: '',
                    message: '',
                }
            },
            bibleSocieties: [],
        }
    },
    methods: {
        nl2br,
        back(event) {
            this.$router.push(`/${this.plural}`)
        },
        save(event) {
            save(event, this, `${this.plural}.save`)
        },
        calculateSize(event) {
            event.preventDefault()
            this.$buefy.notification.open('To be done')
            // TODO calculate size
        },
        changePrimaryLanguageChoice(value) {
            if (this.isNew) return this.$buefy.notification.open('You need to save this bible first')
            Meteor.call(`${this.plural}.changePrimaryLanguageChoice`, this.bible, value)
        },
    },
    created() {
        this.isNew = this.$route.params.id === 'new'
        if (!this.isNew) {
            Meteor.subscribe('bibleInfo', this.$route.params.id, () => {
                this.doc = BibleInfos.findOne(this.$route.params.id) || {}
                this.original= Object.assign({}, this.doc)
            })
        }
        Meteor.subscribe('bibleSocieties', () => {
            bibleSocieties = BibleSocieties.find().fetch()
            bibleSocieties.unshift('')
            this.bibleSocieties = bibleSocieties
        })
    },
}
</script>
