<template>
    <div>
        <div v-if="!$subReady.bibleInfos">
            Loading...
        </div>
        <div v-else>
            <section class="filters">
            <b-field horizontal>
                <b-field label="Filter" horizontal>
                    <b-input v-model="fulltext"></b-input>
                </b-field>
                <b-field label="Language" horizontal>
                    <b-select placeholder="Select a name" v-model="selectedLanguage">
                        <option v-for="option in languages" :value="option" :key="option">
                            {{ option }}
                        </option>
                    </b-select>
                </b-field>
                <button @click="clearFiltes" class="button">Clear filters</button>
                <button @click="create" class="button is-primary">Create</button>
            </b-field>
            </section>

            <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Label</th>
                    <th>Language</th>
                    <th>
                        <b-tooltip label="Will be installed in onboarding">
                            Primary Language
                        </b-tooltip>
                    </th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="bible in bibles" :data-id="bible._id">
                    <td>{{bible.code}}</td>
                    <td>{{bible.label}}</td>
                    <td>{{bible.lang}}</td>
                    <td><b-switch :value="bible.isPrimaryLanguageChoice" disabled></b-switch></td>
                    <td class="actions">
                        <span title="Edit" class="button" @click="edit">👀</span>
                        <span title="Remove" class="button" @click="remove">🗑</span>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            plural: 'bibleInfos',
            languages: [],
            selectedLanguage: '',
            fulltext: '',
        }
    },
    methods: {
        edit(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            this.$router.push(`/${this.plural}/${id}`)
        },
        create() {
            this.$router.push(`/${this.plural}/new`)
        },
        remove(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            this.$buefy.dialog.confirm({
                title: `Delete ${id}`,
                message: 'Are you sure you want to <b>delete</b> this bible? This action cannot be undone.',
                confirmText: 'Delete bible',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    Meteor.call(`${this.plural}.remove`, id, (error) => {
                        if (error) {
                            this.$buefy.notification.open(error)
                        } else {
                            this.$buefy.notification.open('Saved')
                        }                 
                    })
                }
            })
        },
        clearFiltes() {
            this.selectedLanguage = ''
            this.fulltext = ''
        },
        formatDateTime,
    },
    meteor: {
        $subscribe: { 'bibleInfos': [this.selectedLanguage] },
    },
    computed: {
        bibles() {
            return this.$autorun(() => { 
                const filter = {}
                if (this.selectedLanguage) filter.lang = this.selectedLanguage
                if (this.fulltext) {
                    const regex = { $regex: this.fulltext, $options: 'i' }
                    filter.$or = [
                        { code: regex },
                        { label: regex },
                        { languageNameEn: regex },
                        { languageOrigName: regex },
                    ]
                }
                return BibleInfos.find(filter, { sort: { code: 1 } })
            })
        },
    },
    created() {
        Meteor.call('getAllBibleLanguages', (error, languages) => {
            languages.unshift('')
            languges = languages.sort()
            this.languages = languages
        })
    },
}
</script>

<style scoped>
table {
    width: 100%;
}
.actions {
    text-align: right;
}
</style>