<template>
<div class="">
    Name: {{ContactForm.name}}
    <br>Email: {{ContactForm.email}}
    <br>Message: 
    <br>{{nl2br(ContactForm.message)}}
    <hr>
    Created At: {{ContactForm.createdAt}}
    <br>User Agent: {{ContactForm.userAgent}}
    <br>acceptLanguage: {{ContactForm.acceptLanguage}}
    <br>ip: {{ContactForm.ip}}
    <br>
    <br><button @click="back" class="button">Back</button>
</div>
</template>

<script>
export default {
    methods: {  
        nl2br,
        back(event) {
            // console.log('detail', this)
            window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
        },
    },
    meteor: {
        ContactForm () {
            Meteor.subscribe('contactForm', this.$route.params.id)
            return ContactForm.findOne(this.$route.params.id) || {}
        },
    }
}
</script>