<template>
    <div>
        <div v-if="!$subReady.contactForms">Loading...</div>
        <div v-else>
            <table class="table">
            <thead>
                <tr>
                    <th>Created At</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th class="actions" style="text-align: right;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="c in ContactFormCursor" :data-id="c._id">
                    <td>{{formatDateTime(c.createdAt)}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.message}}</td>
                    <td class="actions" style="text-align: right;">
                        <span title="Detail" @click="detail">👀</span>
                        <span title="Remove" @click="remove">🗑</span>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            plural: 'contactForms',
            settings: Meteor.settings.public,
        }
    },
    methods: {
        detail(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            this.$router.push(`/${this.plural}/${id}`)
        },
        remove(event) {
            const id = this.currentTarget.parentNode.parentNode.dataset.id
            Meteor.call(`${this.plural}.remove`, id, (error) => {
                if (error) {
                    this.$buefy.notification.open(error)
                } else {
                    this.$buefy.toast.open('Removed')
                }                 
            })
        },
        formatDateTime,
    },
    meteor: {
        $subscribe: {
            'contactForms': []
        },
        ContactFormCursor () {
            return ContactForm.find({}, { sort: { createdAt: -1 } })
        },
    }
}
</script>

<style scoped>
table {
    width: 100%;
}
</style>