<template>
    <div>
        <b-button v-if="user()" rounded @click="sendTestEmail" class="button">Send test email</b-button>

        <div v-if="!$subReady.installedTranslationsCounter">Loading...</div>
        <div v-else>
            <table class="table">
            <thead>
                <tr>
                    <th>Translation</th>
                    <th>Installed ({{total}})</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="c in cursor" :data-id="c._id">
                    <td>{{c._id}}</td>
                    <td>{{c.count}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            date: new Date(),
            total: 0,
        }
    },
    methods: {
        clickMe() {
            this.$buefy.notification.open('Clicked!!')
        },
        sendTestEmail(event) {
            event.preventDefault()
            Meteor.call('sendTestEmail')
            this.$buefy.notification.open('Just send an email')
        },
    },
    meteor: {
        $subscribe: {
            'installedTranslationsCounter': []
        },
        cursor () {
            const collection = InstalledTranslationsCounter.find({}, { sort: { count: -1 } })
            this.total = collection.map(doc => doc.count).reduce((a, b) => a + b, 0)
            return collection
        },
    },
}
</script>

<style scoped>
table {
    width: 100%;
}
</style>
