<template>
    <div>
        <div v-if="!$subReady.stats">Loading...</div>
        <div v-else>
            <table class="table">
            <thead>
                <tr>
                    <th>Created At</th>
                    <th>Payload</th>
                    <th class="actions" style="text-align: right;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="s in StatsCursor" :data-id="s._id">
                    <td>{{formatDateTime(s.createdAt)}}</td>
                    <td>{{JSON.stringify(s.payload, null, 2)}}</td>
                    <td class="actions" style="text-align: right;">
                        <!-- <span title="Detail" @click="detail">👀</span> -->
                        <span title="Remove" @click="remove">🗑</span>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            plural: 'stats',
            settings: Meteor.settings.public,
        }
    },
    methods: {
        remove(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            Meteor.call(`${this.plural}.remove`, id)
        },
        formatDateTime,
    },
    meteor: {
        $subscribe: {
            'stats': []
        },
        StatsCursor () {
            return Stats.find({}, { sort: { createdAt: -1 } })
        },
    }
}
</script>

<style scoped>
table {
    width: 100%;
}
</style>