<template>
<div class="">
    <form @submit="save">
        <b-field label="Name" horizontal>
            <b-input v-model="doc.name" required minlength="5"></b-input>
        </b-field>
        <b-field label="Script" horizontal>
            <b-input v-model="doc.text2LookupScript" type="textarea" rows="5"></b-input>
        </b-field>

        <b-field grouped position="is-right">
            <p class="control">
                <button type="submit" class="button is-primary">Save</button>
                <b-button @click="back" class="button">Back</b-button>
                <b-button class="button is-primary" v-html="runButtonText" @click="run"></b-button>
            </p>
        </b-field>
    </form>
    <div class="result" ref="result" v-html="jobResult && nl2br(jobResult.text)"></div>
</div>
</template>

<script>
import { save, standardMethods } from '../components/CrudHelpers.js'

export default {
    data() {
        return {
            isNew: false,
            doc: {},
            original: {},
            plural: 'scrapers',
            ticket: '',
        }
    },
    methods: {
        back(event) {
            this.$router.push(`/${this.plural}`)
        },
        save(event) {
            save(event, this, `${this.plural}.save`)
        },
        run(event) {
            event.preventDefault()
            if (this.isRunning) {
                return Meteor.call('scrape.stopScript')
            }
            Meteor.call('scrape.runScript', this.doc, (error, ticket) => {
                if (error) {
                    return this.$buefy.notification.open(error)
                }
                this.ticket = ticket
                Meteor.subscribe('jobResult', ticket)
            })
        },
    },
    meteor: {
        jobResult () {
            const jobResult = JobResults.findOne(this.ticket)
            this.$nextTick(() => {
                // we don't trust this nextTick thing, so wait some more
                setTimeout(() => {
                    this.$refs.result.scrollTop = this.$refs.result.scrollHeight
                }, 10)
            })
            return jobResult
        }
    },
    created() {
        this.isNew = this.$route.params.id === 'new'
        if (!this.isNew) {
            Meteor.subscribe('scrapers', this.$route.params.id, () => {
                this.doc = Scrapers.findOne(this.$route.params.id) || {}
                this.original = Object.assign({}, this.doc)
            })
        }
    },
    computed: {
        isRunning() {
            return this.jobResult && !this.jobResult.end
        },
        runButtonText() {
            return this.isRunning ? 'Stop' : 'Run'
        },
    },
}
</script>


<style scoped>
.result {
    height: 300px;
    margin-top: 15px;
    overflow: auto;
}
</style>