<template>
    <div>
        <div v-if="!$subReady.scrapers">
            Loading...
        </div>
        <div v-else>
            <section class="filters">
                <b-field horizontal>
                    <b-field label="Filter" horizontal>
                        <b-input v-model="fulltext"></b-input>
                    </b-field>
                    <button @click="clearFiltes" class="button">Clear filters</button>
                    <button @click="create" class="button is-primary">Create</button>
                </b-field>
            </section>

            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <!-- <th>Text file path</th>
                    <th>JS file path</th> -->
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="doc in documents" :data-id="doc._id">
                    <td>{{doc.name}}</td>
                    <!-- <td>{{doc.textFilePath}}</td>
                    <td>{{doc.jsFilePath}}</td> -->
                    <td class="actions">
                        <span title="Edit" class="button" @click="edit">👀</span>
                        <span title="Remove" class="button" @click="remove">🗑</span>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import { ConfirmDelete } from '../components/CrudHelpers.js'

export default {
    data() {
        return {
            plural: 'scrapers',
            singular: 'scraper',
            fulltext: '',
        }
    },
    methods: {
        edit(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            this.$router.push(`/${this.plural}/${id}`)
        },
        create() {
            this.$router.push(`/${this.plural}/new`)
        },
        remove(event) {
            const id = event.currentTarget.parentNode.parentNode.dataset.id
            ConfirmDelete(this, id, `${this.plural}.remove`)
        },
        clearFiltes() {
            this.fulltext = ''
        },
    },
    meteor: {
        $subscribe: { 'scrapers': [] },
    },
    computed: {
        documents() {
            return this.$autorun(() => { 
                const filter = {}
                if (this.fulltext) {
                    const regex = { $regex: this.fulltext, $options: 'i' }
                    filter.$or = [
                        { name: regex },
                    ]
                }
                return Scrapers.find(filter, { sort: { name: 1 } })
            })
        },
    },
}
</script>

<style scoped>
table {
    width: 100%;
}
.actions {
    text-align: right;
}
</style>