<template>
<div v-if="this.$store.state.user">
    <a class="navbar-item" slot="trigger" role="button">
        <b-dropdown
            position="is-bottom-left"
            append-to-body
            aria-role="menu">
            <a class="navbar-item" slot="trigger" role="button">
                {{this.user().username}} ▼
            </a>

            <!-- <b-dropdown-item custom aria-role="menuitem">
                Logged as <b>{{this.user().username}}</b>
            </b-dropdown-item>
            <hr class="dropdown-divider">
            <b-dropdown-item has-link aria-role="menuitem">
                <a href="https://google.com" target="_blank">
                    <b-icon icon="link"></b-icon>
                    Google (link)
                </a>
            </b-dropdown-item>
            <b-dropdown-item value="home" aria-role="menuitem">
                <b-icon icon="home"></b-icon>
                Home
            </b-dropdown-item>
            <b-dropdown-item value="products" aria-role="menuitem">
                <b-icon icon="cart"></b-icon>
                Products
            </b-dropdown-item>
            <b-dropdown-item value="blog" disabled aria-role="menuitem">
                <b-icon icon="book-open"></b-icon>
                Blog
            </b-dropdown-item>
            <hr class="dropdown-divider" aria-role="menuitem"> -->
            <b-dropdown-item value="settings" disabled>
                🔧 Settings
            </b-dropdown-item>
            <hr class="dropdown-divider" aria-role="menuitem">
            <b-dropdown-item value="logout" aria-role="menuitem" @click="logout">
                🛐 Logout
            </b-dropdown-item>
        </b-dropdown>

    </a>
</div>
<div v-else>
    <b-dropdown ref="dropdown" position="is-bottom-left" append-to-body aria-role="menu" trap-focus can-close>
        <a class="navbar-item" slot="trigger" role="button">
            <a class="button is-light">Log in</a>
            <!-- <span>Login</span> -->
            <!-- <b-icon icon="menu-down"></b-icon> -->
        </a>
        <b-dropdown-item aria-role="menu-item" :focusable="false" custom paddingless>
            <form @submit="login">
                <div class="modal-card">
                    <section class="modal-card-body">
                        <b-field label="Email">
                            <b-input v-model="email" type="email" placeholder="Your email" required></b-input>
                        </b-field>

                        <b-field label="Password">
                            <b-input v-model="password" type="password" password-reveal placeholder="Your password" required></b-input>
                        </b-field>

                        <!-- <b-checkbox>Remember me</b-checkbox> -->
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-primary">Login</button>
                    </footer>
                </div>
            </form>
        </b-dropdown-item>
    </b-dropdown>
</div>
</template>

<script>
import { Meteor } from 'meteor/meteor'

export default {
    data() {
        return {
            email: '',
            password: '',
        }
    },
    methods: {
        login(event) {
            event.preventDefault()
            Meteor.loginWithPassword(this.email, this.password, (error) => {
                this.userId = Meteor.userId()
                this.$store.commit('setUser', Meteor.user())
            })
            this.$refs.dropdown.toggle()
        },
        logout(event) {
            console.log('logout')
            Meteor.logout((error) => {
                this.$store.commit('clearUser')
            })
        },
    },
}
</script>

<style scoped>
.modal-card {
    width: 300px;
}
</style>