<template>
    <b-navbar>
        <template slot="brand">
            <b-navbar-item>
                <router-link to="/">
                    <img src="/img/duobiblo_64.png" alt="Duobiblo Dashboard">
                </router-link>
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/bibleInfos' }">Bibles</b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/bibleSocieties' }">Societies</b-navbar-item>
            <b-navbar-item v-if="user()" tag="router-link" :to="{ path: '/scrapers' }">Scrapers</b-navbar-item>
            <b-navbar-item v-if="user()" tag="router-link" :to="{ path: '/contacts' }">Contacts</b-navbar-item>
            <b-navbar-item v-if="user()" tag="router-link" :to="{ path: '/logs' }">Logs</b-navbar-item>
            <!-- <b-navbar-dropdown label="Info">
                <b-navbar-item href="#">About</b-navbar-item>
                <b-navbar-item href="#">Contact</b-navbar-item>
            </b-navbar-dropdown> -->
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <!-- <a class="button is-primary"><strong>Sign up</strong></a> -->
                    <login></login>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
import { Meteor } from 'meteor/meteor'
import Login from './Login.vue'

</script>
